input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 363px;
  /* margin-bottom:30px; */
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  /* padding: 20px; */
}

#submit {
  width: 100%;
  /* height:20px; */
  color: #fff;
  font-size: 17px;
  padding: 5px;
  background-color: #004c70;
  border: none;
}
#submit:hover {
  background-color: #007bff;
}
.worklog {
  font-size: 20px;
  font-weight: 800;
  color: #004c70;
  display: flex;
  margin: 0px;
  justify-content: center;
}
.title {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.loginString {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: #424546;
}
.ProjectTitle {
  /* font-size: 18px; */
  font-weight: 500;
  color: #424546;
  margin: 0px;
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loggedIn {
  /* font-size: 18px; */
  font-weight: 500;
  color: #424546;
  margin: 0px;
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_group {
  display: flex;
  padding: 5px;
}
#btn_stop {
  width: 100%;
  color: #fff;
  font-size: 17px;
  padding: 5px;
  background-color: #004c70;
  border: none;
  margin: 0px 5px;
}
#btn_start {
  width: 100%;
  color: #fff;
  font-size: 17px;
  padding: 5px;
  background-color: #004c70;
  border: none;
  margin: 0px 5px;
}

#btn_stop:hover,
#btn_start:hover {
  background-color: #007bff;
}
.options {
  height: 20px;
}

#logOut {
  width: 100%;
  color: #fff;
  font-size: 17px;
  padding: 5px;
  background: #004c70;
  border: none;
  margin: 5px 5px;
}
.logoutIcon:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.logoutIcon {
  width: max-content;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  color: #004c70;
}
